<% provide(:title, "单词分类列表") %>
<div class="row">
  <%= render 'shared/word_bar' %>
  <div class="col-md-9">
      <table class="table table-sm bg-white mb-1">
        <tbody id="container_tags">
          <% @tags.each_with_index do |tag, index| %>
             <tr id="tag-<%= tag.id %>">
               <td class="text-left text-secondary">
                 <%= index+((params[:page] || 1).to_i - 1)*10+1 %>. &nbsp<%= tag.name %>
               </td>
               <td class="text-right">
                 <span class="badge badge-primary" data-toggle="modal" data-target="#edit-<%= tag.id %>">
                   编辑
                 </span>
                 <%= link_to "删除", tag, method: :delete, remote: true, data: { confirm: "确定删除么?" }, class: "badge badge-danger" %>
               </td>
                 <div class="modal fade" id="edit-<%= tag.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <%= form_for(tag, method: 'put', remote: true) do |f| %>
                   <div class="modal-dialog" role="document">
                     <div class="modal-content">
                       <div class="modal-body">
                         <div class="form-group row">
                           <label class="col-sm-2 col-form-label text-secondary">名称:</label>
                           <div class="col-sm-10">
                             <%= f.text_field :name, class: "form-control", autofocus: true %>
                           </div>
                         </div>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">关闭</button>
                         <%= f.submit "更新单词分类", class: "btn btn-primary btn-sm"%>
                       </div>
                     </div>
                   </div>
                   <% end -%>
                 </div>
             </tr>
          <% end -%>
        </tbody>
      </table>
    
    <div class="d-flex flex-row justify-content-between">
      <div><%= paginate @tags %></div>
      <div><span class="btn btn-sm btn-primary" data-toggle="modal" data-target="#new-tag">新建单词分类</span></div>
    </div>
  </div> 
</div>







<%= form_for(@tag, url: tags_path, method: 'post', remote: true) do |f| %>
  <div class="modal fade" id="new-tag" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label text-secondary">名称:</label>
            <div class="col-sm-10">
              <%= f.text_field :name, class: "form-control tag_name", autofocus: true %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">关闭</button>
          <%= f.submit "新建单词分类", class: "btn btn-primary btn-sm"%>
        </div>
      </div>
    </div>
  </div>
<% end -%>

<%= content_for :javascripts do %>
  <script>
    $("#selectAll").select_all();
  </script>
<% end %>
