<div class="col-md-9">
  <div class="card mb-0">
    <div class="card-header text-center text-secondary">
      单词列表清单
    </div>
    <%= form_tag remove_select_words_path, method: :delete do %>
    <div class="card-body">
      <table class="table table-sm bg-white mb-1">
        <tbody>
          <% @words.each_with_index do |word, index| %>
            <tr>
              <td class="text-left text-secondary">
                <%= check_box_tag "[word_ids][]", word.id, false, class: "selectable" %>
                <%= index+((params[:page] || 1).to_i - 1)*10+1 %>. &nbsp<%= word.name %>
              </td>
              <td class="text-right">
                <%= link_to '编辑', edit_word_path(word), class: "badge badge-primary" %>
                <%= link_to '删除', word, method: :delete, data: { confirm: '确定删除这个单词么?' }, class: "badge badge-danger" %>
              </td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div>
      <% unless @words.size == 0 %>
        <input type="checkbox" id="selectAll"><small class="text-secondary">全选/取消&nbsp</small></input>
          <%= submit_tag "删除选中项", data: { confirm: "确定全部删除么？"}, class: "btn btn-sm btn-danger", id: "remove_select" %>
      <% end %>
    </div>
    <div><%= link_to "新建单词", new_word_path, class: "btn btn-sm btn-primary" %></div>
  </div>
  <% end -%>
  <div class="mt-1"><%= paginate @words %></div>
</div>

<%= content_for :javascripts do %>
  <script>
    $("#selectAll").select_all();
  </script>
<% end %>
