<div class="col-md-9">
    <div class="card">
      <div class="card-header text-secondary text-center">
        <%= @word.new_record? ? "新建单词" : "编辑单词" %>
      </div>
      <div class="card-body">
        <%= render partial: 'shared/errors', locals: { demo: @word } %>
        <%= form_for(@word,
                     url: (@word.new_record? ? words_path : word_path(@word)),
                     method: (@word.new_record? ? 'post' : 'put')) do |f| %>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary">名称:</label>
          <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control", autofocus: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary">翻译:</label>
          <div class="col-sm-10">
            <%= f.text_field :chinese, class: "form-control", autofocus: true %>
          </div>
        </div> 
        
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary">分类:</label>
          <div class="col-sm-5">
            <%= f.collection_select :category_id, current_user.categories, :id, :name, {include_blank: 'None'}, {class: "form-control" } %>
          </div>
          <div class="col-sm-5">
            <span class="btn btn-primary" id="add-tag-btn">添加分类</span>
          </div>
        </div>

        <div class="form-group row" id="add-new-tag">
          <label class="col-sm-2 col-form-label text-secondary"></label>
          <div class="col-sm-5">
            <%= f.text_field :chinese, class: "form-control", id: "new-tag", autofocus: true %>
          </div>
          <div class="col-sm-5">
            <span class="btn btn-primary"><i class="fa fa-check"></i>添加</span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <%= f.submit (@word.new_record? ? "创建单词" : "更新单词"), class: "btn btn-primary btn-sm"%>
            <%= link_to "返回单词列表", words_lists_path, class: "btn btn-primary btn-sm"%>
          </div>
        </div>
        
        <% end %>
      </div>
    </div>
</div>

<%= content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      $("#add-new-tag").hide();

      $('#add-tag-btn').on('click', function () {
        $("#add-new-tag").slideToggle(function() {
            $('#new-tag').focus();
        });
        return false;
      });
    })
  </script>
<% end %>
