<div class="col-md-9">
  <table class="table table-sm bg-white mb-1">
    <tbody>
      <% @words.each_with_index do |word, index| %>
        <tr>
          <td class="text-left text-secondary">
            <%= index+((params[:page] || 1).to_i - 1)*10+1 %>. &nbsp<%= word.name %>
          </td>
          <td class="text-right">
            <%= link_to '编辑', edit_word_path(word), class: "badge badge-primary" %>
            <%= link_to '删除', word, method: :delete, data: { confirm: '确定删除这个单词么?' }, class: "badge badge-danger" %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <div class="d-flex flex-row justify-content-between">
    <div><%= paginate @words %></div>
    <div><%= link_to "新建单词", new_word_path, class: "btn btn-sm btn-primary" %></div>
  </div>
</div>
