<%= form_tag '/words/interpret', method: :get do %>  
  <div class="form-row d-flex flex-row justify-content-center">
    <div class="form-group col-md-2">
      <%= collection_select :word, :category_id, current_user.categories, :id, :name, {}, { class: "form-control" } %>
    </div>
    <div class="form-group col-md-3">
      <%= text_field_tag :name, params[:name], class: "form-control", autocomplete: "off"  %>
    </div>
    <div class="form-group">
      <%= submit_tag "翻译", class: "btn btn-primary form-control" %>
    </div>  
  </div>  
<% end -%>

<div class="text-center mb-3 mt-2">
  <%= link_to "标记", unfamiliar_words_path, class: "badge badge-danger" %>
  <%= link_to "全部", words_path, class: "badge badge-success" %>
  <% current_user.categories.includes(:words).each do |category| %>
    <% unless category.words.length == 0 %>
      <%= link_to "#{category.name}", categories_words_path(category_id: category.id), class: "badge badge-success" %>
    <% end %>  
  <% end %>
</div>

<div id="words">
  <%= render 'words' %>
</div>

<div id="paginator">
  <%= paginate @words, remote: true %>
</div>

<% @words.each do |word| %>
  <div class="modal" id="<%= word.id%>-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= word.name %></h5>
        </div>
        <div class="modal-body">
          <p class="card-text"><strong>美音音标:</strong> &nbsp&nbsp <%= word.us %></p>
          <p class="card-text"><strong>英音音标:</strong> &nbsp&nbsp <%= word.uk %></p>
          <p class="card-text"><strong>中文翻译:</strong> &nbsp&nbsp <%= word.chinese %></p> 
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      $('#name').autocomplete({
        source: "/words/autocomplete",
        minLength: 3,
        select: function (event, ui) {
          $('#name').val(ui.item.value);
            $(this).closest('form').submit();
          }
       }); 
    });
  </script>
<% end %>
