<% provide(:title, "单词分类列表") %>
<div class="row">
  <%= render 'shared/word_bar' %>
  <div class="col-md-9">
      <div class="card mb-1">
        <div class="card-header text-center text-secondary">
          单词分类清单
        </div>
        <div class="card-body">
          <table class="table table-sm bg-white mb-1">
            <tbody id="container_categories">
              <%= render @categories %>
            </tbody>
          </table>
    
          <div class="d-flex flex-row justify-content-between">
            <div>
              <%= link_to new_category_path, class: "btn btn-sm btn-primary",remote: true do %>
                新建单词分类
              <% end %> 
            </div>
          </div>
        </div>
      </div>
      <div id="categories_pagination">
        <%= paginate @categories, remote: true %>
      </div>
  </div> 
</div>
<%= render 'shared/form_modal' %>
<%= render 'shared/confirm_modal' %>
