<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'book.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'shared/shim' %>
  </head>

  <body style="background-color: #e5e5e5;">
    <div id="ajax-spin"></div>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flash_messages' %>
    <div class="container">
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
    <%= yield :javascripts %>
  </body>
</html>
